<?xml version="1.0" encoding="utf-8" ?>

<odoo>

    <menuitem id="tutorial_root_menu"
              name="TUTORIALS"
              sequence="0"/>

    <menuitem id="tutorial_patient_root"
              name="PATIENT CARD"
              parent="tutorial_root_menu"
              sequence="0"/>

    <menuitem id="tutorial_appointment_root"
              name="APPOINTMENT CARD"
              parent="tutorial_root_menu"
              sequence="1"/>

</odoo>